body {
    width: 100% !important;
    height: 100% !important;
    padding:0;
    font-family: helvetica;
    }

.logo {
    width: 100px;
    height: 34px;
    background: #0D28A6;
   }

/* Navigation Bar */
.navbar {
    background-color: #F1F3FF;
    margin-right: 0.5em;
    }
.navbar-nav li {
    list-style: none;
    }

.navbar-nav li a {
    text-decoration: none;
    color: black;
    }

.nav-item {
    margin-right: 1.5em;
    }

.navbar-brand{
    margin-left: 128px;
}
@media (max-width: 979px) {
    .navbar-brand {
       margin-left: 0px;
       }
   }

.nav__cta {
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    text-decoration: none;
    color: #FFFFFF !important;

    background: #5CB85F;
    border-radius: 2px;
    padding: 8px 12px;
}

/* Main */
.main {
    background-color: #F1F3FF;
    margin-bottom: 24px;
}

.main--wrapper {
    padding-top: 120px;
    padding-left: 128px;
    padding-right: 0px;
}

.main__content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    }

@media (max-width: 979px) {
     .main--wrapper {
        padding: top 75px;
        padding-left: 0.75rem;
        }
    }

    .main__tagline {
        font-style: normal;
        font-weight: bold;
        font-size: 36px;
        }
    
    .main__text {
        font-style: normal;
        font-weight: 300;
        font-size: 14px;
        }
    
    .main__cta {
        font-style: normal;
        font-weight: bold;
        font-size: 14px;
        text-decoration: none;
        color: #FFFFFF;
    
        background: #5CB85F;
        border-radius: 2px;
        padding: 8px 12px;
        }

/* ************* CARS FILTER ************* */

.cars-filter {
    position: relative;
    margin-top: -40px;
    margin-bottom: 40px;
    padding: 25px 25px;

    background: #FFFFFF;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.15);
    border-radius: 8px;
}

.cars-filter .border-user {
    border: 1px solid #ced4da !important;
}

.cars-filter .form-label,
.cars-filter .form-control,
.cars-filter .form-select,
.cars-filter .btn {
    font-weight: 300;
    font-size: 12px;
    line-height: 18px;
    color: #3C3C3C;
}

.cars-filter .nav-item-btn {
    margin-top: 27px;
}

.cars-filter .input-group>:not(:first-child):not(.dropdown-menu):not(.valid-tooltip):not(.valid-feedback):not(.invalid-tooltip):not(.invalid-feedback) {
    margin-left: -1px;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    border-left: 0 !important;
}

select:focus>option:checked {
    background: #C9E7CA !important;
}



/* .container-mobil {
    padding: 27px 84px;
} */

.card-mobil {
    padding: 24px;
    background: #FFFFFF;
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.15);
    border-radius: 8px;
}

.card-mobil .keterangan-mobil .tipe {
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    color: #000000;
    margin-top: 16px;
}

.card-mobil .keterangan-mobil .title {
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
    margin: 8px 0;
}

.card-mobil .keterangan-mobil .keterangan {
    font-weight: 300;
    font-size: 14px;
    line-height: 20px;
    margin-bottom: 16px;
}

.card-mobil .spesifikasi-detail {
    margin-bottom: 8px;
}

.card-mobil .spesifikasi-icon {
    padding-right: 10px;
}

.card-mobil .nav-item-btn {
    font-size: 12px;
}




.select2{
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;

    background: url("#") white no-repeat 98.5% !important;
    background: url("#") white no-repeat calc(100% - 10px) !important;
}

.select2::-ms-expand {
    display: none;
}

.select-tipe option:hover {
    background-color: #409b43 !important;
}

/* Services */
.services {
    margin-bottom: 24px;
}

.our-services__list {
    font-style: normal;
    font-size: 14px;
    list-style-image: url(assets/Group\ 53.png);
    }   

#our-services__list__item {
    padding: 0.5em 0.5em;
}

/* Why Us */
.why-us {
    margin-bottom: 24px;
}
.why-us__field {
    border: 1px solid #D0D0D0;
    padding: 15px;
    border-radius: 8px;
    }

.why-us__field__header {
    margin: 16px 0px;
    font-size: 16px;
    letter-spacing: 0em;
    text-align: left;
    }

.why-us__field__text {
    font-weight: 300;
    font-size: 14px;
    line-height: 20px;
    }

/* Testimonials */
.testimonials__header {
    text-align: center;
}

/* Getting Started */
.getting-started {
    margin-bottom: 24px;
    }

.getting-started--wrapper {
    background: #0D28A6;
    border-radius: 13px;
    }

.getting-started__header {
    font-weight: bold;
    font-size: 36px;
    line-height: 150%;
    color: #FFFFFF;

    text-align: center;
    padding-bottom: 16px;
    }

.getting-started__text {   
    font-weight: 300;
    font-size: 14px;
    color: #FFFFFF;

    text-align: center;

    padding-bottom: 40px;
    }

.getting-started__cta {
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    text-decoration: none;
    color: #FFFFFF;
    text-align: center;

    background: #5CB85F;
    border-radius: 2px;
    padding: 8px 12px;
    }

/* FAQ */
.FAQ {
    margin-bottom: 24px;
}

.accordion-item {
    border: 1px solid #D0D0D0;
    border-radius: 8px;
    }

/* Footer */
.footer__address {
    margin-bottom: 16px;
    }

.anchor__link {
    text-decoration: none;
    color: black;
}
.footer__nav {
    font-weight: normal;
    font-size: 14px;
    line-height: 20px;
    }

.footer__nav:not(:last-child) {
    margin-bottom: 16px;
    }